# Alchemy (required when using alchemy)
# Generate both the secret and the state token using `openssl rand -base64 32`.
ALCHEMY_SECRET=<***>
ALCHEMY_STATE_TOKEN=<***>
# The hostname used for deployment and for generating VITE_BASE_URL env.
HOSTNAME=<your app's hostname, e.g. devsantara.com>

# Application
VITE_BASE_URL=<*** (default: http://localhost:3000)>

# Cloudflare [CI] (required for deployment workflows)
# See https://alchemy.run/guides/cloudflare#api-token
CLOUDFLARE_API_TOKEN=<***>
# Your Cloudflare email
CLOUDFLARE_EMAIL=<***>
